<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tooling_8">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-9.9299E-06 6.2788E-05 -7.3824E-05"
        rpy="0 0 0" />
      <mass
        value="0.036592" />
      <inertia
        ixx="7.6104E-06"
        ixy="7.3953E-08"
        ixz="1.8952E-07"
        iyy="4.1364E-05"
        iyz="1.1767E-08"
        izz="4.888E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
