<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tooling_12">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="5.9338E-05 0.00062642 -0.00016344"
        rpy="0 0 0" />
      <mass
        value="0.052305" />
      <inertia
        ixx="9.5114E-06"
        ixy="1.5459E-06"
        ixz="8.1667E-09"
        iyy="0.00012792"
        iyz="-3.6001E-08"
        izz="0.00013728" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
