<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tooling_21">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.0033E-05 -2.9805E-05 0.0072243"
        rpy="0 0 0" />
      <mass
        value="0.051285" />
      <inertia
        ixx="8.5028E-06"
        ixy="-4.5407E-08"
        ixz="1.2193E-05"
        iyy="0.000316"
        iyz="-9.7397E-08"
        izz="0.00030995" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
