<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tooling_19">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.4728E-05 2.4886E-06 -4.8575E-05"
        rpy="0 0 0" />
      <mass
        value="0.079222" />
      <inertia
        ixx="4.9929E-06"
        ixy="-1.9123E-08"
        ixz="1.0816E-07"
        iyy="0.0003501"
        iyz="2.6359E-10"
        izz="0.0003541" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
