<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tooling_15">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.2077E-05 2.9175E-05 -6.7379E-05"
        rpy="0 0 0" />
      <mass
        value="0.04961" />
      <inertia
        ixx="2.9924E-06"
        ixy="-2.5876E-08"
        ixz="-2.2575E-07"
        iyy="7.2629E-05"
        iyz="-1.3709E-08"
        izz="7.5457E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
