<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dual_gen3_with_gripper">

  <!-- 給 Robotiq xacro 使用的全域參數 -->
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="sim_isaac" default="false"/>

  <xacro:include filename="$(find kortex_description)/robots/kortex_robot.xacro"/>

  <link name="world"/>

  <!-- Left Gen3 + Robotiq 2F-85 -->
  <xacro:load_robot
    parent="world"
    prefix="left_"
    arm="gen3"
    gripper="robotiq_2f_85"
    gripper_joint_name="robotiq_85_left_knuckle_joint"
    dof="7"
    vision="false"
    robot_ip="192.168.1.10"
    username="admin"
    password="admin"
    port="10000"
    port_realtime="10001"
    session_inactivity_timeout_ms="60000"
    connection_inactivity_timeout_ms="2000"
    use_internal_bus_gripper_comm="true"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    sim_gazebo="false"
    sim_ignition="$(arg sim_ignition)"
    sim_isaac="$(arg sim_isaac)"
    use_external_cable="false"
    gripper_max_velocity="100.0"
    gripper_max_force="100.0">
    <origin xyz="0.001538 0.583981 -0.025732" rpy="0 0 0"/>
  </xacro:load_robot>

  <!-- Right Gen3 + Robotiq 2F-85 -->
  <xacro:load_robot
    parent="world"
    prefix="right_"
    arm="gen3"
    gripper="robotiq_2f_85"
    gripper_joint_name="robotiq_85_left_knuckle_joint"
    dof="7"
    vision="false"
    robot_ip="192.168.1.11"
    username="admin"
    password="admin"
    port="10000"
    port_realtime="10001"
    session_inactivity_timeout_ms="60000"
    connection_inactivity_timeout_ms="2000"
    use_internal_bus_gripper_comm="true"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    sim_gazebo="false"
    sim_ignition="$(arg sim_ignition)"
    sim_isaac="$(arg sim_isaac)"
    use_external_cable="false"
    gripper_max_velocity="100.0"
    gripper_max_force="100.0">
    <origin xyz="0 -0.58 0" rpy="0 0 0"/>
  </xacro:load_robot>

</robot>
